<div class="class-login-form-container">
  <form (submit)="onSubmit($event)">
    <div>
      <label>
        Username:
        <input type="text" [formField]="loginForm.username" />
      </label>
      @if (loginForm.username().touched() && loginForm.username().invalid()) {
        <ul class="error-list">
          @for (error of loginForm.username().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <div>
      <label>
        Password:
        <input type="password" [formField]="loginForm.password" />
      </label>
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
        <ul class="error-list">
          @for (error of loginForm.password().errors(); track error) {
            <li>{{ error.message }}</li>
          }
        </ul>
      }
    </div>
    <button type="submit" [disabled]="loginForm().invalid()">Log In</button>
  </form>
</div>
