<div class="class-signup-form-container"> <!-- [loading]="isLoading === 'loading'"> -->
  <form (submit)="onSubmit($event)">
    <div>
      <label>
        Username
        <input type="text" [formField] ="signupForm.username">
      </label>
    </div>
    <div>
      <label>
        Full Name
        <input type="text" [formField] ="signupForm.fullName">
      </label>
    </div>
    <div>
      <label>
        Email
        <input type="email" [formField] ="signupForm.email">
      </label>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div>
      <label>
        Password
        <input type="password" [formField] ="signupForm.password">
      </label>
    </div>
    <div>
      <label>
        Phone Number
        <input type="text" [formField] ="signupForm.phoneNumber">
      </label>
    </div>
    <div>
      <label>
        Profile Image Url
        <input type="text" [formField] ="signupForm.profileImageUrl">
      </label>
    </div>
    <div>
      <label>
        Profile Image Url
        <select [formField] ="signupForm.role">
          <option value="ROLE_GUEST">GUEST_AUTHORITIES</option>
          <option value="ROLE_HR">HR_AUTHORITIES</option>
          <option value="ROLE_USER">USER_AUTHORITIES</option>
          <option value="ROLE_CREATOR">CREATOR_AUTHORITIES</option>
          <option value="ROLE_EDITOR">EDITOR_AUTHORITIES</option>
          <option value="ROLE_MANAGER">MANAGER_AUTHORITIES</option>
          <option value="ROLE_ADMIN">ADMIN_AUTHORITIES</option>
          <option value="ROLE_SUPER_ADMIN">SUPER_ADMIN_AUTHORITIES</option>
        </select>
      </label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" >Submit</button>
  </form>
</div>
